body {
    background-color: black;
}

.body-content {
    max-width: 415px;
    min-width: 320px;
    height: 100vh;
    padding: 0px;
    position: relative
}

.container {
    margin-right: auto;
    margin-left: auto;
}


.body-background {
    background-image: url('/images/background7.png '); /* Set the background image */
    background-size: cover; /* Make the image cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Prevent the image from repeating */
}

.vector {
    width: 80%;
    bottom: -70%;
    margin: 0 auto;
    position: relative; /* Ensure it is positioned relative to its parent */
    z-index: 1; 
    display: block;
}

.play-pause-button {
    width: 50px;
    height: 50px;
    bottom: -65%;
    margin: 0 auto;
    position: relative; /* Ensure it is positioned relative to its parent */
    background-size: cover; /* Make the image cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 1; 
    display: block;
    background-color: transparent;
    border: none;
}

#songButton {
    margin-top: 20px;
}

#volumeControl {
    bottom: -68%;
    margin: 0 auto;
    position: relative; /* Ensure it is positioned relative to its parent */
    display: block;
}

.text-white-bold-140 {
    color: white;
    font-size: 140px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.text-white-dreaming-bold-100 {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Dreaming'
}
.text-white-normal-65 {
    color: white;
    font-size: 65px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.text-white-normal-12 {
    color: white;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.text-white-normal-15 {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.text-white-normal-40 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.text-white-amerosa-italic-80 {
    color: white;
    font-size: 80px;
    font-style: italic;
    font-family: 'Amoresa';
}

.text-white-goldenhours-italic-80 {
    color: white;
    font-size: 100px;
    font-style: italic;
    font-family: 'GoldenHours';
}

.text-white-goldenhours-italic-50 {
    color: white;
    font-size: 50px;
    font-style: italic;
    font-family: 'GoldenHours';
}

.text-white-amerosa-italic-30 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: 'Amoresa';
}

.text-white-bethany-italic-50 {
    color: white;
    font-size: 50px;
    font-style: italic;
    font-family: 'BethanyAvanue';
}

.text-white-felicity-italic-100 {
    color: white;
    font-size: 100px;
    font-style: italic;
    font-family: 'Felicity';
}

.text-white-josefinslab-16 {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-family: 'JosefinSlab';
}

.text-white-josefinslab-20 {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-family: 'JosefinSlab';
}

.text-white-josefinslab-30 {
    color: white;
    font-size: 30px;
    font-style: normal;
    font-family: 'JosefinSlab';
}

.text-white-josefinslab-16 {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-family: 'JosefinSlab';
}

.text-white-josefinslab-13 {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-family: 'JosefinSlab';
}

.text-white-lovelyn-underlined-35 {
    color: white;
    font-size: 35px;
    font-style: normal;
    text-decoration: underline;
    font-family: 'Lovelyn';
}

.text-white-lovelyn-40 {
    color: white;
    font-size: 40px;
    font-style: normal;
    font-family: 'Lovelyn';
}

.text-white-lovelyn-underlined-21 {
    color: white;
    font-size: 21px;
    font-style: normal;
    text-decoration: underline;
    font-family: 'Lovelyn';
}

/*
.window img {
    width: 70%; 
    height: 70%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #eb4747;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
    display: block;
}
 */

.text-center {
    text-align: center;
    position: relative;
    text-rendering: optimizeLegibility;
}

.space-between {
    justify-content: space-between;
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

/*Carousel*/
/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@font-face {
    font-family: "Alensia";
    src: url("fonts/Alensia.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HumberTown";
    src: url("fonts/HumberTown.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amoresa";
    src: url("fonts/Amoresa.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSlab";
    src: url("fonts/JosefinSlab.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lovelyn";
    src: url("fonts/Lovelyn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dreaming";
    src: url("fonts/Dreaming.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GoldenHours";
    src: url("fonts/GoldenHours.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "BethanyAvanue";
    src: url("fonts/BethanyAvanue.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mattock";
    src: url("fonts/Mattock.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Felicity";
    src: url("fonts/Felicity.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}